[include]
	path = ~/.gitconfig.local

[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	autocrlf = input

[credential]
	helper = cache

[init]
	defaultBranch = main

[checkout]
	defaultRemote = origin

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[help]
	autocorrect = 1

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
