# Git
.git-credentials
.gitconfig.local

# Nodejs
node_modules/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints
venv/

# R
.Rhistory
.Rapp.history
.RData
.Rproj.user/

# Vim
.vim/swaps/*
.vim/undo
.vim/viminfo

# Windows
.DS_Store
.Trash-*
Desktop.ini
Thumbs.db
*~

# Mac
.Spotlight-V100
.Trashes
